@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- TEMA CLARO --- */
    --background: 248 248 255; 
    --foreground: 10 10 10; 

    --primary: 255 186 3; 
    --primary-foreground: 10 10 10;

    --card: 248 248 255;
    --card-foreground: 10 10 10;
    
    --border: 229 231 235;
  }

  .dark {
    /* --- TEMA ESCURO (padrão) --- */
    --background: 10 10 10; 
    --foreground: 248 248 255;

    --primary: 255 186 3; 
    --primary-foreground: 10 10 10;

    --card: 23 23 23;
    --card-foreground: 248 248 255;

    --border: 38 38 38;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}