@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- TEMA ÚNICO (ESCURO) --- */
    --background: 10 10 10; 
    --foreground: 248 248 255;

    --primary: 255 186 3; 
    --primary-foreground: 10 10 10;

    --card: 23 23 23;
    --card-foreground: 248 248 255;

    --border: 38 38 38;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}